
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/training.iml
music/__pycache__/__init__.cpython-39.pyc
music/__pycache__/admin.cpython-39.pyc
music/__pycache__/apps.cpython-39.pyc
music/__pycache__/models.cpython-39.pyc
music/__pycache__/urls.cpython-39.pyc
music/__pycache__/views.cpython-39.pyc
music/migrations/__pycache__/0001_initial.cpython-39.pyc
music/migrations/__pycache__/0002_song_sub_title.cpython-39.pyc
music/migrations/__pycache__/0003_auto_20201113_1931.cpython-39.pyc
music/migrations/__pycache__/0004_auto_20201114_0953.cpython-39.pyc
music/migrations/__pycache__/0005_song_is_favorite.cpython-39.pyc
music/migrations/__pycache__/__init__.cpython-39.pyc
training/__pycache__/__init__.cpython-39.pyc
training/__pycache__/settings.cpython-39.pyc
training/__pycache__/urls.cpython-39.pyc
training/__pycache__/wsgi.cpython-39.pyc
